@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  position: relative;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.main-banner {
  background: url("/images/bg-giao-thong-360.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .footer-bg{
  background: url("/images/footer-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.footer-bg {
  position: relative;
  /* Optional: adjust as needed */
  overflow: hidden;
}

.footer-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/images/footer-bg.png") center / cover no-repeat;
  opacity: 0.5; /* Adjust opacity here */
  z-index: -1; /* Ensure it stays behind content */
}